<h1>Novo Mobilizador</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.mobilizador_path(@conn, :create)) |> Map.put(:users, @users |> Enum.map(fn x -> {"#{x.id} - #{x.name} - #{x.email}", x.id} end)) %>

<span><%= link "Back", to: Routes.mobilizador_path(@conn, :index) %></span>
